<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
        <add key="si" value="0"/>
		<add key="result" value="0"/>
		<add key="info" value="Do you want to repeat enter? yes  
            to exit press any button and press enter"/>		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>